            </main>
            
            <footer>
                <br>
                <div><b>The maintainer of this website is: <%= email %></b></div>
                <h2>References</h2>
                <a href="https://undergrad.cs.umd.edu/what-computer-science">https://undergrad.cs.umd.edu/what-computer-science</a>
            </footer>
        </div>
    </body>
</html>