<% include partials/header.ejs %>
    <style>

    </style>
</head>
<body>
    <main>
        <h1>Cool Images</h1>
        <form action="/search">
            <input id="keyword" type="text" value="<%= keyword %>" placeholder="Type keyword" name="keyword">
            <button>
                Search
            </button>
            <a id="favLink" href="/keywords">See Favorites</a>
        </form>
        
        <% imageUrls.forEach((imageUrl, i) => { %>
            <%- (i % 3 === 0) ? '<br>' : '' %>
            <div class="imageContainer">
                <img class="image" src="<%= imageUrl %>" width="200" height="200">
                <img class="favoriteIcon" src="img/favorite.png" width="20">
            </div>
        <% } )%>
        
    </main>
<% include partials/footer.ejs %>