<% include partials/header %>

<noscript><h2>Javascript is disabled in your browser. But that's ok, we're not using Javascript here...</h2></noscript>
<h1>Computer Science</h1>

<h2>What is computer science?</h2>
<p>It is the study of computation, computers, and any computational systems.</p>

<h2>What do computer science programs usually consist of?</h2>
<ul>
    <li>Algorithms & Data structures</li>
    <li>Various programming languages</li>
    <li>Compilers and Interpreters</li>
</ul>

<img src="img/cs.jpg" alt="Image of a guy coding on a ledge overlooking a city" />


<% include partials/footer %>