<% include partials/header %>

<h1>Methodologies</h1>
<img src="img/methodologies.png" alt="Diagram showing two rectangles, one containing the text OOP and the other the text Functional Programming" />

<ul>
    <li><mark>Object Oriented Programming</mark> - Focus on composing objects. Has topics such as inheritance, polymorphism, data encapsulation, and others.</li>
    <li><mark>Functional Programming</mark> - Focus on pure functions, input/output approach, and focus on functions as a manner of composition.</li>
    <li><mark>Logical Programming</mark> - Focus on composing logical units in our program.</li>
</ul>


<% include partials/footer %>