<% include partials/header %>

<h1>Operating Systems</h1>
<img src="img/os.jpg" alt="Shows 3 logos, one each for Windows, Mac, and Linux" />
<table>
    <thead>
        <tr>
            <th>OS</th>
            <th>Pros</th>
            <th>Cons</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mac</td>
            <td>Ease of use especially for development</td>
            <td>Expensive</td>
        </tr>
        <tr>
            <td>Windows</td>
            <td>GUI approach to lots of development</td>
            <td>Hard to set up for a lot of tech stacks</td>
        </tr>
        <tr>
            <td>Linux</td>
            <td>Fast, free, extremely easy to use for development</td>
            <td>Lots of configuration needed</td>
        </tr>
    </tbody>
</table>

<% include partials/footer %>