<% include partials/header %>

<h1>Typescript</h1>

<h2>What is Typescript?</h2>
<p>Typescript can be thought of as a superset of Javascript.</p>

<h2>How does Typescript work?</h2>
<p>Typescript works through something called the Typescript compiler. It takes .ts files and compiles them down to .js files that run on the browser.</p>

<h2>Why do people use Typescript?</h2>
<p>People use Typescript to get static code analysis that Typescript provides through type declarations.</p>

<img src="img/typescript.png" alt="An image of some example Typescript code" />

<% include partials/footer %>