body {
  background-color: #333;
}

.weatherapp {
  color: white;
}

.title {
  text-align: center;
}

.weatherapp:not(.currenttemp-animation) {
  color: white;
}

.currenttemp-animation {
  color: #333;
}

.animation .currenttemp {
  font-size: 29px;
  margin-top: 20px;
}

.animation {
  text-align: left;
  max-width: 400px;
}


.weather {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  max-width: 500px;
}

.weekly {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.weekly .temp-animation {
  margin-left: -39px;
  color: #333;
}

.weekly h4 {
  font-weight: bold;
}

